<div class="navegation">
  <nav>
    <ul>
      <li class="nav-item">
        <a routerLink="/main/home" routerLinkActive="active" class="nav-link">
          <i class="material-icons">home</i>
          <p>Home</p>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/main/profile" routerLinkActive="active" class="nav-link">
          <i class="material-icons">person</i>
          <p>Profile</p>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/main/history" routerLinkActive="active" class="nav-link">
          <i class="material-icons">history</i>
          <p>History</p>
        </a>
      </li>
    </ul>
  </nav>
</div>