<div class="navegation">
  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <i class="material-icons">home</i>
          <p>Home</p>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active">
          <i class="material-icons">person</i>
          <p>Profile</p>
        </a>
      </li>
      <li>
        <a routerLink="/history" routerLinkActive="active">
          <i class="material-icons">history</i>
          <p>History</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
