.splash {
  align-items: center;
  background-image: url("../../../assets/images/splash-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.circle {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.12);
  height: 214px;
  width: 214px;
}

.logo {
  display: block;
  margin: auto;
  margin-top: 70px;
  width: 150px;
}

mat-spinner {
  margin: auto;
  margin-top: 22px;
}
.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #fa4a0c;
}
