<div class="main">
  <div class="container" *ngIf="food">
    <i class="material-icons icon" [routerLink]="['/home', category]">
      chevron_left
    </i>
    <div class="row">
      <div class="card">
        <img class="card-img-top align-self-center" [src]="food.picture_url" alt="food picture" />
        <h5 class="card-title fs-3 fw-bold mt-2 text-center">
          {{ food.name }}
        </h5>
        <p class="card-text fs-3 fw-bold lh-sm mt-2 text-center">
          ${{ food.price | number: '1.2-2' }}
        </p>
        <p class="fw-bold">Description</p>
        <p>{{ food.description }}</p>
        <button class="btn-submit big-button" [ngClass]="{ added: added }" (click)="addToCart()" type="submit">
          {{ buttonText }}
        </button>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="!food">
    <i class="material-icons icon" [routerLink]="['/home', category]">
      chevron_left
    </i>
    <div class="row">
      Not found
    </div>
  </div>