:host {
   --color-orange: #fa4a0c; /*#f74b22;*/
}
.main {
   margin: 30px;
}
.container {
   margin: auto;
   width: 400px;
}
.icon {
   font-size: 38px;
   color: #aaa;
   background-color: transparent;
   cursor: pointer;
}
h1,
h2 {
   text-align: center;
}
.card {
   background-color: #f6f6f9;
   border: none;
}
.card img {
   height: 250px;
   width: 250px;
}
.card-img-top {
   border-radius: 50%;
   box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
   margin: 20px 0 50px 0;
}
.card-title {
   transform: translate(0, -30%);
   margin: 0 20px;
   line-height: 1.5;
}
.card-text {
   transform: translate(0, -30%);
   color: #fa4a0c;
}
.not-found-item {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #777;
}
.not-found-icon {
   font-size: 120px;
   color: #ccc;
}
.big-button {
   background-color: var(--color-orange);
   border: none;
   border-radius: 24px;
   color: white;
   padding: 20px 0;
   width: 100%;
   margin-top: 2rem;
}
.test {
   display: block;
   bottom: 0;
   left: 0;
   position: fixed;
   right: 0;
   padding-bottom: 32px;
   background-color: #fa4a0c;
}
/* agregado al carrito  */
.added {
   background-color: #fa4b0c86;
}

@media (max-width: 768px) {
   .container {
      width: 380px;
   }
   .card img {
      height: 200px;
      width: 200px;
   }
}
@media (max-width: 576px) {
   .container {
      width: 320px;
   }
   .card img {
      height: 200px;
      width: 200px;
   }
   .not-found-icon {
      font-size: 100px;
   }
   .not-found {
      font-size: 1.3rem !important;
   }
}
