.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pages {
  flex-grow: 1;
}

.navbar {
  height: 63px;
  flex-shrink: 0;
}

@media (min-width: 451px) {
  .navbar {
    height: 82px;
  }
}
