<div class="layout-page">
  <div class="layout-header header">
    <div class="layout-container">
      <div class="topbar">
        <div style="display: flex; justify-content: space-between">
          <div class="search">
            <span class="icon">
              <i
                class="material-icons"
                *ngIf="search.length == 0"
                (click)="toggleSearch()"
              >
                search
              </i>
              <i
                class="material-icons icon"
                *ngIf="search.length > 0"
                (click)="clearSearch()"
              >
                chevron_left
              </i>
            </span>
            <input
              type="text"
              placeholder="Search"
              id="search"
              name="search"
              [(ngModel)]="search"
              (keyup)="searchFoods(search)"
            />
          </div>
          <div class="cart" routerLink="/cart">
            <span class="cart-badge">{{
              cartService.calculateTotalQuantity()
            }}</span>
            <i class="material-icons cart-icon">shopping_cart</i>
          </div>
        </div>
        <!-- menu -->
        <div class="menu" *ngIf="categories?.length && search.length == 0">
          <div class="scrollmenu">
            <a
              [routerLink]="['/home', category]"
              [class.active]="category == selectedCategory"
              (click)="getFoodsByCategory(category)"
              *ngFor="let category of categories"
            >
              {{ category }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <div class="layout-container">
      <!-- found results -->
      <div class="found text-center fs-2" *ngIf="found > 0">
        <div *ngIf="found == 1">
          <p>Found {{ found }} result</p>
        </div>
        <div *ngIf="found > 1">
          <p>Found {{ found }} results</p>
        </div>
      </div>

      <!-- Foods -->
      <div class="foods" *ngIf="foods?.length">
        <div
          *ngFor="let food of foods"
          class="eatable-card food"
          [routerLink]="[
            '/home',
            selectedCategory,
            food.name.split(' ').join('-')
          ]"
        >
          <div
            class="food-picture"
            [style]="{
              'background-image': 'url(\'' + food.picture_url + '\')'
            }"
          ></div>
          <div class="food-name">
            {{ food.name }}
          </div>
          <span class="food-price">{{ food.price | currency }}</span>
        </div>
      </div>
    </div>

    <!-- not found -->
    <app-no-results
      *ngIf="foods?.length == 0"
      icon="search"
      text="No products found"
    ></app-no-results>
  </div>
</div>
