<div class="container mt-4">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 px-3">
         <div class="search input-group">
            <span>
               <i class="material-icons icon" *ngIf="search.length == 0" (click)="toggleSearch()">
                  search
               </i>
               <i class="material-icons icon" *ngIf="search.length > 0" (click)="clearSearch()">
                  chevron_left
               </i>
            </span>
            <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" id="search"
               name="search" [(ngModel)]="search" (keyup)="searchFoods(search)" />
            <i class="material-icons icon fs-2 mt-3 mb-3">shopping_cart</i>
         </div>
         <!-- list of categories -->
         <div class="d-flex justify-content-center" *ngIf="categories?.length && search.length == 0">
            <div class="scrollmenu">
               <a [routerLink]="['/home', category]" [class.active]="category == selectedCategory"
                  (click)="getFoodsByCategory(category)" *ngFor="let category of categories">
                  {{ category }}
               </a>
            </div>
         </div>
         <!-- found results -->
         <div class="found text-center fs-2" *ngIf="found > 0">
            <div *ngIf="found == 1">
               <p>Found {{found}} result</p>
            </div>
            <div *ngIf="found > 1">
               <p>Found {{found}} results</p>
            </div>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 my-4 px-5">
         <div class="row" *ngIf="foods?.length">
            <div class="foods col-lg-4 col-md-6 col-sm-6 col-6 d-flex justify-content-center"
               *ngFor="let food of foods">
               <div class="card text-center" [routerLink]="['/home', selectedCategory, food.name.split(' ').join('-')]">
                  <img class="card-img-top img-fluid" [src]="food.picture_url" alt="food picture" />
                  <h5 class="card-title fs-4 fw-bold mt-2">
                     {{ food.name }}
                  </h5>
                  <p class="card-text fs-4 fw-bold lh-sm mt-2">
                     ${{ food.price | number: '1.2-2' }}
                  </p>
               </div>
            </div>
         </div>
         <!-- not found -->
         <div class="not-found-item text-center" *ngIf="foods?.length == 0">
            Pass
         </div>
         <!-- selected food -->
         <div class="row">
            <app-food></app-food>
         </div>
      </div>
   </div>
</div>