<div class="layout-page">
  <div class="layout-header">
    <div class="layout-container">
      <div class="topbar">
        <button class="back-button">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <h2>Cart</h2>
      </div>
    </div>
  </div>

  <div class="layout-content">
    <div class="layout-container">
      <div class="item">
        <div>
          <img
            class="food-picture"
            src="../../../assets/images/pasta_dish.jpg"
          />
        </div>
        <div class="item-details">
          <div class="food-name">Veggie tomato mix</div>
          <div class="food-price">$75.45</div>
        </div>
        <div>
          <div class="btn-cantidad">
            <div>
              <i class="material-icons">remove</i>
            </div>
            <div class="quantity">2</div>
            <div>
              <i class="material-icons">add</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-footer">
    <div class="container">
      <button class="big-button" type="submit">Checkout</button>
    </div>
  </div>
</div>
