.no-results {
  align-items: center;
  display: flex;
  color: #464647;
  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
}
.no-results span {
  margin-top: -120px;
}
.no-results .icon {
  color: #c7c7c7;
  display: block;
  font-size: 160px;
}
