<div class="layout-page">
  <div class="layout-header">
    <div class="layout-container">
      <div class="topbar">
        <button class="back-button" routerLink="/cart">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
        <h2 class="title">Checkout</h2>
      </div>
    </div>
  </div>

  <div class="layout-content">
    <div class="layout-container">
      <div class="datos-profile" *ngIf="profile">
        <h4 class="subtitle">Delivery</h4>
        <div class="content-text-btn">
          <h4>Address details</h4>
          <p class="btn-change" routerLink="/profile/edit">change</p>
        </div>
        <div class="card-checkout">
          <p class="name">{{ profile.name }}</p>
          <p class="address">{{ profile.address }}</p>
          <p>{{ profile.phone }}</p>
        </div>

        <div class="total">
          <p>Total</p>
          <p class="number">
            {{ cartService.calculateTotalPrice() | currency }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-footer">
    <div class="layout-container">
      <button class="big-button" type="submit" (click)="createOrder()">
        Complete Order
      </button>
    </div>
  </div>
</div>
