<div class="main">
    <div class="container">
      <div class="header">
        <button><i class="material-icons">chevron_left</i></button>
        <p>Checkout</p>
      </div>
  
      <ul class="navigation">
        <li><a href="#">Adrees detail</a></li>
        <li><a href="#">Change</a></li>
      </ul>
      <div class="date">
        <div class="field">
          <label>Margarita Flores</label><span id="name"></span>
        </div>
        <div class="field"><label>phone</label><span id="phone"></span></div>
        <div class="field"><label>address</label><span id="address"></span></div>
      </div>
      
    </div>
    <div class="footer">
        <div class="container">
          <button class="btn-submit big-button" type="submit">Checkout</button>
        </div>
      </div>
  </div>

  